<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    <h1>Line Item</h1>
    <%= simple_form_for @lineitem do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.button :submit, class: "btn btn-default" %>
    <% end %>
    <%= link_to 'Cancel', root_path, class: "btn btn-default" %>
  </div>
</div>
