<%= simple_form_for @proposal do |f| %>
<%= f.input :date %>
  <h3>Tasks</h3>
  <div id='proposalitem'>
    <%= f.simple_fields_for :proposal_items do |proposal_item| %>
      <%= render 'proposal_item_fields', :f => proposal_item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add proposal item', f, :proposal_item %>
    </div>
  </div>
    <%= f.submit 'Save' %>
<% end %>