<h1>The Show page</h1>
<p>Item Name: <%= @proposal_item.name %></p>
<p>Price: <%= @proposal_item.price %></p>

<%= link_to "Back", root_path, class: "btn btn-default" %>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_property_path, class: "btn btn-default" %>
	<%= link_to 'Delete', property_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>