<!DOCTYPE html>
<html>
  <head>
    <title>ProposalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'Branch', branches_path %></li>
              <li><%= link_to 'Management Company', companies_path %></li>
              <li><%= link_to 'Property Manager', managers_path %></li>
              <li><%= link_to 'Property', properties_path %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

  	<div class="container">
    	<%= yield %>
    </div>

  </body>
</html>
