<!DOCTYPE html>
<html>
  <head>
    <title>ProposalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="nav navbar navbar-default">
  		<div class="container">
  			<div class="navbar-brand"><%= link_to "Company", root_path %></div>
  				<ul class="nav navbar-nav navbar-right">
  					<% if user_signed_in? %>
              <li><%= link_to 'Branch', branches_path %></li>
              <li><%= link_to 'Company', companies_path %></li>
              <li><%= link_to 'Manager', managers_path %></li>
              <li><%= link_to 'Property', properties_path %></li>
  						<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
  						<% else %>
  						<li><%= link_to 'Sign Up', new_user_registration_path %></li>
  						<li><%= link_to 'Sign In', new_user_session_path %></li>
  					<% end %>
  				</ul>
  		</div>
  	</div>

  	<div class="container">
    	<%= yield %>
    </div>
    
  </body>
</html>
